@model PulseMusic.Models.Artist
<div id="content" class="app-content grey bg box-shadow-z2" role="main">
            <div class="app-header hidden-lg-up white lt box-shadow-z1">
                <div class="navbar">
                    <a href="index.html" class="navbar-brand md">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 48 48" width="32" height="32">
                            <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)" />
                            <circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color" />
                            <circle cx="24" cy="24" r="10" fill="#ffffff" />
                            <circle cx="13" cy="13" r="2" fill="#ffffff" class="brand-animate" />
                            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
                            <circle cx="24" cy="24" r="3" fill="#000000" />
                        </svg> <img src="/images/logo.png" alt="." class="hide"> <span class="hidden-folded inline">pulse</span>
                    </a>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item">
                            <a data-toggle="modal" data-target="#aside" class="nav-link">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="app-footer app-player grey bg">
                <div class="playlist" style="width:100%"></div>
            </div>
            <div class="app-body" id="view">
                <div class="pos-rlt">
                    <div class="page-bg" data-stellar-ratio="2" style="background-image: url('/images/b5.jpg')"></div>
                </div>
                <div class="page-content">
                    <div class="padding b-b">
                        <div class="row-col">
                            <div class="col-sm w w-auto-xs m-b">
                                <div class="item w rounded">
                                    <div class="item-media">
                                        <div class="item-media-content" style="background-image: url('/images/@Model.Image')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="p-l-md no-padding-xs">
                                    <div class="page-title">
                                        <h1 class="inline">@Model.Name</h1>
                                    </div>
                                    <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">
                                    @if (Model.Description.Length < 100)
                                    {
                                        @Model.Description
                                    }else{
                                        @Model.Description.Substring(0,100)
                                    }
                                
                                    </p>
                                    <div class="item-action m-b">
                                        <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal"
                                           data-target="#share-modal"><i class="fa fa-share-alt"></i></a> <button class="btn-playpause text-primary m-r-sm"></button> <span>
                                            @ViewBag.NumberAlbum Albums, @ViewBag.NumberTrack
                                            Tracks
                                        </span>
                                        <a data-id="@Model.Id" class="btn btn-sm btn-follow primary" style="margin-left:10px">Follow</a>
                                        
                                    </div>
                            
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-col">
                        <div class="col-lg-9 b-r no-border-md">
                            <div class="padding">
                                <div class="nav-active-border b-primary bottom m-b-md">
                                    <ul class="nav l-h-2x">
                                        <li class="nav-item m-r inline">
                                            <a class="nav-link active" href="#"
                                               data-toggle="tab" data-target="#tab_1">Overview</a>
                                        </li>

                                        <li class="nav-item m-r inline">
                                            <a class="nav-link" href="#" data-toggle="tab"
                                               data-target="#tab_3">Orthers</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <h5 class="m-b">Popular</h5>
                                        <div class="row item-list item-list-md item-list-li m-b" id="tracks">
                                            @foreach(var a in ViewBag.Popular)
                                            {
                                                <div class="col-md-12 col-lg-6">
                                                <div class="item r" data-id="item-@a.Id.Substring(1)"
                                                 data-src="/music/@a.LinkAudio">
                                                    <div class="item-media">
                                                    <a href="/Main/ArtistDetail/@a.ArtistId"
                                                           class="item-media-content"
                                                           style="background-image: url('/images/@a.Image')"></a>
                                                        <div class="item-overlay center">
                                                            <button class="btn-playpause">
                                                                Play
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-overlay bottom text-right">
                                                            <a href="#"
                                                           class="btn-favorite" data-id="@a.Id"><i class="fa fa-heart-o"></i></a>
                                                            <a href="#" class="btn-more" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </a>
                                                            <div class="dropdown-menu pull-right black lt"></div>
                                                        </div>
                                                        <div class="item-title text-ellipsis">
                                                        <a href="/Main/ArtistDetail/@a.ArtistId">@a.Name</a>
                                                        </div>
                                                        <div class="item-author text-sm text-ellipsis hide">
                                                        <a href="/Main/ArtistDetail/@a.ArtistId" class="text-muted">
                                                                @a.Artist.Name
                                                            </a>
                                                        </div>
                                                        <div class="item-meta text-sm text-muted">
                                                            <span class="item-meta-stats text-xs">
                                                                <i class="fa fa-play text-muted"></i> @a.Player <i class="fa fa-heart m-l-sm text-muted"></i> @a.Likes
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                    

                                        </div>
                                    @if (ViewBag.Album !=null)
                                    {
                                        <h5 class="m-b">Albums</h5>
                                        <div class="row m-b">
                                                @foreach(var a in ViewBag.Album)
                                                {
                                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                                            <div class="item r" data-id=""
                                                                    data-src="">
                                                                <div class="item-media">
                                                                    <a href="/Main/AlbumDetail/@a.Id"
                                                                        class="item-media-content"
                                                                        style="background-image: url('/images/@Model.Image')"></a>
                                                                    <div class="item-overlay center">
                                                                        <button class="btn-playpause">
                                                                            Play
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="item-info">
                                                                
                                                                    <div class="item-title text-ellipsis">
                                                                        <a href="/Main/AlbumDetail/@a.Id">@a.Name</a>
                                                                    </div>
                                                                    <div class="item-author text-sm text-ellipsis hide">
                                                                        <a href="/Main/AlbumDetail/@a.Id"
                                                                            class="text-muted">@a.Artist.Name</a>
                                                                    </div>
                                                                    <div class="item-meta text-sm text-muted">
                                                                        <span class="item-meta-stats text-xs">
                                                                            <i class="fa fa-play text-muted"></i> 300 <i class="fa fa-heart m-l-sm text-muted"></i> 10
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                }
                                    

                                        </div>
                                    }
                                

                                    </div>
                                        <div class="tab-pane" id="tab_3">
                                            <div class="row m-b">
                                            @foreach (var a in ViewBag.AllMusic)
                                            {
                                                <div class="col-xs-4 col-sm-4 col-md-3">
                                                    <div class="item r" data-id="item-@a.Id.Substring(1)"
                                                            data-src="/music/@a.LinkAudio">
                                                        <div class="item-media">
                                                            <a href="/Main/AlbumDetail/@a.ArtistId"
                                                                class="item-media-content"
                                                                style="background-image: url('/images/@a.Image')"></a>
                                                            <div class="item-overlay center">
                                                                <button class="btn-playpause">
                                                                    Play
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-overlay bottom text-right">
                                                                <a href="#"
                                                                class="btn-favorite" data-id="@a.Id"><i class="fa fa-heart-o"></i></a>
                                                                <a href="/Main/AlbumDetail/@a.ArtistId" class="btn-more" data-toggle="dropdown">
                                                                    <i class="fa fa-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu pull-right black lt"></div>
                                                            </div>
                                                            <div class="item-title text-ellipsis">
                                                                <a href="/Main/AlbumDetail/@a.ArtistId">@a.Name</a>
                                                            </div>
                                                            <div class="item-author text-sm text-ellipsis hide">
                                                                <a href="/Main/AlbumDetail/@a.ArtistId"
                                                                    class="text-muted">@a.Artist.Name</a>
                                                            </div>
                                                            <div class="item-meta text-sm text-muted">
                                                                <span class="item-meta-stats text-xs">
                                                                    <i class="fa fa-play text-muted"></i> @a.Player <i class="fa fa-heart m-l-sm text-muted"></i> a.Likes
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            </div>
                                        </div>

                                    </div>
                        </div>

                </div>
                <div class="col-lg-3 w-xxl w-auto-md">
                    <div class="padding sticky-element" style="bottom: 60px;position:sticky;top:0px;z-index:100">
                        <h6 class="text text-muted">5 Likes</h6>
                        <div class="row item-list item-list-sm m-b">
                            @await Component.InvokeAsync("MusicLiking")
                        </div>
                    </div>
                </div>
                     </div>
            </div>
        </div>
</div>