<div id="content" class="app-content grey bg box-shadow-z2" role="main">
	<div class="app-header hidden-lg-up white lt box-shadow-z1">
		<div class="navbar">
			<a href="index.html" class="navbar-brand md">
				<svg xmlns="http://www.w3.org/2000/svg"
					 viewBox="0 0 48 48" width="32" height="32">
					<circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)" />
					<circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color" />
					<circle cx="24" cy="24" r="10" fill="#ffffff" />
					<circle cx="13" cy="13" r="2" fill="#ffffff" class="brand-animate" />
					<path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
					<circle cx="24" cy="24" r="3" fill="#000000" />
				</svg> <img src="/images/logo.png" alt="." class="hide"> <span class="hidden-folded inline">pulse</span>
			</a>
			<ul class="nav navbar-nav pull-right">
				<li class="nav-item">
					<a data-toggle="modal" data-target="#aside" class="nav-link">
						<i class="material-icons">menu</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="app-footer app-player grey bg">
		<div class="playlist" style="width:100%"></div>
	</div>
	<div class="app-body" id="view">
		<div class="page-content">
			<div class="padding p-b-0">
				<div class="page-title m-b">
					<h1 class="inline m-a-0">Discover</h1>
				</div>
				<div class="row row-sm item-masonry item-info-overlay">
					
					<div class="col-sm-6 text-white m-b-sm">
						<div class="owl-carousel owl-theme owl-dots-sm owl-dots-bottom-left"
							 data-ui-jp="owlCarousel" data-ui-options="{
							 items: 1
							,loop: true
							,autoplay: true
							,nav: true
							,animateOut:&#x27;fadeOut&#x27;
						  }">
							<div class="item r" data-id="item-115"
								 data-src="/music/bạn_đời.mp3">
								<div class="item-media primary">
									<a href="track.detail.html"
									   class="item-media-content"
									   style="background-image: url('/images/bạn_đời.jpg')"></a>
									<div class="item-overlay center">
										<button class="btn-playpause" data-id="B3">Play</button>
									</div>
								</div>
								<div class="item-info">
									<div class="item-overlay bottom text-right btntap1">
										<a href="#" class="btn-favorite" data-id="B3"><i class="fa fa-heart-o"></i></a>
										<a href="#" class="btn-more" data-toggle="dropdown" data-id="B3">
											<i class="fa fa-ellipsis-h"></i>
										</a>
										
										<div class="dropdown-menu pull-right black lt"></div>
									</div>
									<div class="item-title text-ellipsis">
										<a href="/Main/ArtistDetail/C12">
											Bạn Đời
										</a>
									</div>
									<div class="item-author text-sm text-ellipsis">
										<a href="/Main/ArtistDetail/C12"
										   class="text-muted">Karik</a>
									</div>
								</div>
							</div>
							<div class="item r" data-id="item-116"
								 data-src="/music/lan_man.mp3">
								<div class="item-media info">
									<a href="track.detail.html"
									   class="item-media-content"
									   style="background-image: url('/images/lan_man.jpg')"></a>
									<div class="item-overlay center">
										<button class="btn-playpause">Play</button>
									</div>
								</div>
								<div class="item-info">
									<div class="item-overlay bottom text-right">
										<a href="#"
										   class="btn-favorite" data-id="B11"><i class="fa fa-heart-o"></i></a> <a href="#"
																				 class="btn-more" data-toggle="dropdown" data-id="B11">
											<i class="fa fa-ellipsis-h"></i>
										</a>
										<div class="dropdown-menu pull-right black lt"></div>
									</div>
									<div class="item-title text-ellipsis">
										<a href="/Main/ArtistDetail/C7">
											Lan Man
										</a>
									</div>
									<div class="item-author text-sm text-ellipsis">
										<a href="/Main/ArtistDetail/C7"
										   class="text-muted">Ronboogz</a>
									</div>
								</div>
							</div>
							<div class="item r" data-id="item-117"
								 data-src="/music/bao_tiền_một_mớ_bình_yên.mp3">
								<div class="item-media accent">
									<a href="track.detail.html"
									   class="item-media-content"
									   style="background-image: url('/images/bao_tiền_một_mớ_bình_yên.jpg')"></a>
									<div class="item-overlay center">
										<button class="btn-playpause">Play</button>
									</div>
								</div>
								<div class="item-info">
									<div class="item-overlay bottom text-right">
										<a href="#"
										   class="btn-favorite" data-id="B4"><i class="fa fa-heart-o"></i></a> <a href="#"
																				 class="btn-more" data-toggle="dropdown" data-id="B4">
											<i class="fa fa-ellipsis-h"></i>
										</a>
										<div class="dropdown-menu pull-right black lt"></div>
									</div>
									<div class="item-title text-ellipsis">
										<a href="/Main/ArtistDetail/C8">
											Bao Tiền Một Mớ Bình Yên?
										</a>
									</div>
									<div class="item-author text-sm text-ellipsis">
										<a href="/Main/ArtistDetail/C8"
										   class="text-muted">1 Casper</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="item r" data-id="item-118"
							 data-src="/music/1_phút.mp3">
							<div class="item-media">
								<a href="track.detail.html" class="item-media-content"
								   style="background-image: url('/images/1_phút.jpg')"></a>
								<div class="item-overlay center">
									<button class="btn-playpause">Play</button>
								</div>
							</div>
							<div class="item-info">
								<div class="item-overlay bottom text-right">
									<a href="#" class="btn-favorite" data-id="B1">
										<i class="fa fa-heart-o"></i>
									</a> <a href="#" class="btn-more"
								   data-toggle="dropdown" data-id="B1"><i class="fa fa-ellipsis-h"></i></a>
									<div class="dropdown-menu pull-right black lt"></div>
								</div>
								<div class="item-title text-ellipsis">
									<a href="/Main/ArtistDetail/C2">1 Phút</a>
								</div>
								<div class="item-author text-sm text-ellipsis">
									<a href="/Main/ArtistDetail/C2"
									   class="text-muted">Andiez</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="item r" data-id="item-119"
							 data-src="/music/đánh_mất_em.mp3">
							<div class="item-media">
								<a href="track.detail.html" class="item-media-content"
								   style="background-image: url('/images/đánh_mất_em.jpg')"></a>
								<div class="item-overlay center">
									<button class="btn-playpause">Play</button>
								</div>
							</div>
							<div class="item-info">
								<div class="item-overlay bottom text-right">
                                        <a href="#" class="btn-favorite" data-id="B6">
										<i class="fa fa-heart-o"></i>
									</a> <a href="#" class="btn-more" data-id="B6"
								   data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
									<div class="dropdown-menu pull-right black lt"></div>
								</div>
								<div class="item-title text-ellipsis">
									<a href="/Main/ArtistDetail/C13">Đánh Mất Em</a>
								</div>
								<div class="item-author text-sm text-ellipsis">
									<a href="/Main/ArtistDetail/C13"
									   class="text-muted">Quang Đăng Trần</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="item r" data-id="item-120"
							 data-src="/music/thì_thôi.mp3">
							<div class="item-media">
								<a href="track.detail.html" class="item-media-content"
								   style="background-image: url('/images/thì_thôi.jpg')"></a>
								<div class="item-overlay center">
									<button class="btn-playpause">Play</button>
								</div>
							</div>
							<div class="item-info">
								<div class="item-overlay bottom text-right">
                                        <a href="#" class="btn-favorite" data-id="B17">
										<i class="fa fa-heart-o"></i>
									</a> <a href="#" class="btn-more" data-id="B17"
								   data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
									<div class="dropdown-menu pull-right black lt"></div>
								</div>
								<div class="item-title text-ellipsis">
									<a href="/Main/ArtistDetail/C10">
										Thì Thôi
									</a>
								</div>
								<div class="item-author text-sm text-ellipsis">
									<a href="/Main/ArtistDetail/C10"
									   class="text-muted">Reddy</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="item r" data-id="item-121"
							 data-src="/music/tình_đầu.mp3">
							<div class="item-media">
								<a href="track.detail.html" class="item-media-content"
								   style="background-image: url('/images/tình_đầu.jpg')"></a>
								<div class="item-overlay center">
									<button class="btn-playpause">Play</button>
								</div>
							</div>
							<div class="item-info">
								<div class="item-overlay bottom text-right">
                                        <a href="#" class="btn-favorite" data-id="B18">
										<i class="fa fa-heart-o"></i>
									</a> <a href="#" class="btn-more" data-id="B18"
								   data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
									<div class="dropdown-menu pull-right black lt"></div>
								</div>
								<div class="item-title text-ellipsis">
									<a href="/Main/ArtistDetail/C4">
										Tình Đầu
									</a>
								</div>
								<div class="item-author text-sm text-ellipsis">
									<a href="/Main/ArtistDetail/C4"
									   class="text-muted">Tăng Duy Tân</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-col">
				<div class="col-lg-9 b-r no-border-md">
					<div class="padding">
						<h2 class="widget-title h4 m-b">Treading</h2>
						<div class="owl-carousel owl-theme owl-dots-center" data-ui-jp="owlCarousel"
							 data-ui-options="{
									margin: 20,
									responsiveClass:true,
									responsive:{
										0:{
											items: 2
										},
										543:{
											items: 3
										}
									}
								}">
								@foreach(var a in ViewBag.Tredding){
									<div class="">
									<div class="item r" data-id="item-@a.Id.Substring(1)"
										 data-src="/music/@a.LinkAudio">
											<div class="item-media item-media-4by3">
											<a href="/Main/ArtistDetail/@a.ArtistId"
													class="item-media-content"
													style="background-image: url('/images/@a.Image')"></a>
												<div class="item-overlay center">
													<button class="btn-playpause">
														Play
													</button>
												</div>
											</div>
											<div class="item-info">
												<div class="item-overlay bottom text-right">
												<a href="#" class="btn-favorite" data-id="@a.Id"><i class="fa fa-heart-o"></i></a> <a href="#" class="btn-more" data-toggle="dropdown" data-id="@a.Id">
														<i class="fa fa-ellipsis-h"></i>
													</a>
													<div class="dropdown-menu pull-right black lt"></div>
												</div>
												<div class="item-title text-ellipsis">
												<a href="/Main/ArtistDetail/@a.ArtistId">@a.Name</a>
												</div>
												<div class="item-author text-sm text-ellipsis">
													<a href="/Main/ArtistDetail/@a.ArtistId" class="text-muted">@a.Artist.Name</a>
												</div>
											</div>
										</div>
									</div>
								}
						</div>
						<h2 class="widget-title h4 m-b">New</h2>
						<div class="row">
							@foreach (var a in ViewBag.New)
							{
								<div class="col-xs-4 col-sm-4 col-md-3">
									<div class="item r" data-id="item-@a.Id.Substring(1)"
										 data-src="/music/@a.LinkAudio">
										<div class="item-media">
											<a href="/Main/ArtistDetail/@a.ArtistId"
											   class="item-media-content"
											   style="background-image: url('/images/@a.Image')"></a>
											<div class="item-overlay center">
												<button class="btn-playpause">
													Play
												</button>
											</div>
										</div>
										<div class="item-info">
											<div class="item-overlay bottom text-right">
												<a href="#"
												   class="btn-favorite" data-id="@a.Id"><i class="fa fa-heart-o"></i></a> <a href="#" class="btn-more" data-toggle="dropdown" data-id="@a.Id">
													<i class="fa fa-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu pull-right black lt"></div>
											</div>
											<div class="item-title text-ellipsis">
												<a href="/Main/ArtistDetail/@a.ArtistId">
													@a.Name
												</a>
											</div>
											<div class="item-author text-sm text-ellipsis">
												<a href="/Main/ArtistDetail/@a.ArtistId" class="text-muted">@a.Artist.Name</a>
											</div>
										</div>
									</div>
								</div>
							}

						</div>
						<h2 class="widget-title h4 m-b">Recommand for you</h2>
						<div class="row item-list item-list-md m-b">
							@foreach(var a in ViewBag.Recommand)
							{
								<div class="col-sm-6">
									<div class="item r" data-id="item-@a.Id.Substring(1)"
									data-src="/music/@a.LinkAudio">
									<div class="item-media">
										<a href="/Main/ArtistDetail/@a.ArtistId"
										   class="item-media-content"
											   style="background-image: url('/images/@a.Image')"></a>
										<div class="item-overlay center">
											<button class="btn-playpause">
												Play
											</button>
										</div>
									</div>
									<div class="item-info">
										<div class="item-overlay bottom text-right">
											<a href="#"
												   class="btn-favorite" data-id="@a.Id"><i class="fa fa-heart-o"></i></a> <a href="#" class="btn-more" data-toggle="dropdown" data-id="@a.Id">
												<i class="fa fa-ellipsis-h"></i>
											</a>
											<div class="dropdown-menu pull-right black lt"></div>
										</div>
										<div class="item-title text-ellipsis">
											<a href="/Main/ArtistDetail/@a.ArtistId">
												@a.Name
											</a>
										</div>
										<div class="item-author text-sm text-ellipsis">
											<a href="/Main/ArtistDetail/@a.ArtistId" class="text-muted">@a.Artist.Name</a>
										</div>
									</div>
								</div>
								</div>
							}
							

						</div>
					</div>
				</div>
				<div class="col-lg-3 w-xxl w-auto-md">
					<div class="padding sticky-element" style="bottom: 60px;position:sticky;top:0px;z-index:100">
						<h6 class="text text-muted">5 Likes</h6>
						<div class="row item-list item-list-sm m-b">
							@await Component.InvokeAsync("MusicLiking")
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</div>
</div>

